<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chennai</title>
</head>

<body bgcolor="cyan">

    <div>
        {% for dest in dests%}
        <img src="{{dest.img.url}}" alt="">
        {%endfor%}
    </div>
    <div>
        <p>Chennai, on the Bay of Bengal in eastern India, is the capital of the state of Tamil Nadu.<br>
            The city is home to Fort St. George, built in 1644 and now a museum showcasing the city’s roots as a British
            military garrison and East India Company trading outpost, when it was called Madras.<br>
            Religious sites include Kapaleeshwarar Temple, adorned with carved and painted gods, and St. Mary’s, a
            17th-century Anglican church.
        </p>
    </div>

</body>

</html>