<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mumbai</title>
</head>

<body bgcolor="cyan">
    <div>
        {% for dest in dests%}
        <img src="{{dest.img.url}}" alt="">
        {%endfor%}
    </div>
    <div>
        <p>Mumbai (formerly called Bombay) is a densely populated city on India’s west coast.<br>
            A financial center, it is India largest city. <br>
            On the Mumbai Harbour waterfront stands the iconic Gateway of India stone arch, built by the British Raj in
            1924.<br>
            Offshore, nearby Elephanta Island holds ancient cave temples dedicated to the Hindu god Shiva. <br>
            The city is also famous as the heart of the Bollywood film industry.</p>
    </div>

</body>

</html>