<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pune</title>
</head>
<body bgcolor="cyan">
    <div>
        {% for dest in dests%}
        <img src = "{{dest.img.url}}" alt="">
        {%endfor%}
    </div>
    <div>
        <p>Pune is a sprawling city in the western Indian state of Maharashtra.<br>
            It was once the base of the Peshwas (prime ministers) of the Maratha Empire, which lasted from 1674 to 1818.<br>
            It's known for the grand Aga Khan Palace, built in 1892 and now a memorial to Mahatma Gandhi, whose ashes are preserved in the garden.<br>
            The 8th-century Pataleshwar Cave Temple is dedicated to the Hindu god Shiva.
        </p>
    </div>
</body>
</html>